@import url('https://fonts.googleapis.com/css?family=Lato');

*{
	font-family: 'Lato', sans-serif;
}

.div-title {
	background-color: rgb(28, 59, 101);
}

h1 {
	color:white;
}

.text-barra {
	display: flex;
	padding-top: 2%;
	padding-bottom: 2%;
}

.first-content {
	margin-top: 2%;
	border-style: solid;
	border-radius: 20px;
	border-color: rgb(28, 59, 101);
	padding-bottom: 2%;
	padding-top: 1%;
	margin-right: 1%;
	margin-left: 1%;
}

.table-div {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 1%;
	overflow-x: scroll;
}

.thead-dark, tbody {
	white-space: nowrap;
}

.filter-cod {
	margin-top: 3%;
	margin-left: 35px;
	margin-right: 35px;
}

.filter-data-first {
	margin-top: 2%;
	margin-right: 4%;
	margin-left: 20px;
}

.filter-data {
	margin-top: 2%;
}



