<div class="content">
	
	<div class="text-center box">
		<p class="alert alert-info" ng-show="mensagem.length">{{mensagem}}</p>
	</div>

	<div class="panel panel-default box">

		<div class="panel-heading">Adicionar Usuário</div>

		<div class="panel-body">
			<form novalidate name="formAddUsuario" class="form-horizontal" ng-submit="submeter()">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="nome" class="control-label col-md-2">Nome:</label>
						<div class="col-md-10">
							<input type="text" class="form-control" id="nome" name="nome" ng-model="usuario.nome" required>
							<span ng-show="formAddUsuario.$submitted && formAddUsuario.nome.$error.required" class="form-control alert-danger">
								Nome Obrigatório
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="cpf" class="control-label col-md-2">CPF:</label>
						<div class="col-md-10">
							<input type="text" class="form-control" id="cpf" name="cpf" ng-model="usuario.cpf" required>
							<span ng-show="formAddUsuario.$submitted && formAddUsuario.cpf.$error.required" class="form-control alert-danger">
								Cpf Obrigatório
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="dataNasc" class="control-label col-md-2">Data de Nascimento:</label>
						<div class="col-md-10">
							<input type="text" class="form-control" id="dataNasc" ng-model="usuario.dataNascimento">
						</div>
					</div>
					<div class="form-group">
						<label for="sexo" class="control-label col-md-2">Sexo:</label>
						<div class="col-md-10">
							<!-- <input type="text" class="form-control" id="sexo" ng-model="usuario.sexo"> -->
							<select class="form-control" ng-model="usuario.sexo" ng-options="option for option in sexos">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="cargo" class="control-label col-md-2">Cargo:</label>
						<div class="col-md-10">
							<input type="text" class="form-control" id="cargo" name="cargo" ng-model="usuario.cargo.nome" required>
							<span ng-show="formAddUsuario.$submitted && formAddUsuario.cargo.$error.required" class="form-control alert-danger">
								Cargo Obrigatório
							</span>
						</div>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>
